@mixin flexboxcenter {
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
}

@mixin flexalignstart {
	@include display(flex);
	@include align-items(flex-start);
	@include justify-content(center);
}

@mixin margin($values) {
	margin: $values;
}

// ISOTOPE
@mixin feed-ribbon() {
	background:url(dist/images/feed-ribbons.png) no-repeat;
	content:"";
	height:36px;
	position:absolute;
	left: 20px;
	top: 20px;
	width: 36px;
}

@include media($bp-ls-small) {
	
}