// TESTIMONIALS
.services-testimonial {
	@include flexboxcenter;
}

.services-testimonial {
	min-height: 550px;
	width: 100%;
	// 
	background-color: $m-blue;
	//
	padding: 30px;
	@include media($bp-med) {
		padding: 80px 0;
    }
    @include media($bp-ls-small) {
    	min-height: 480px;
    	padding: 30px;
    }
	.main-content {
		position: relative;
		// 
		border-left: 1px solid $white;
		padding-left: 30px;
		@include media($bp-med) {
			padding-left: 50px;
	    }
		.testimonial-border__circle--top,
		.testimonial-border__circle--bottom {
			width: 10px;
			height: 10px;
			// 
			position: absolute;
			left: -5px;
			// 
			background-color: $white;
			// 
			border-radius: 50%;
		}
		.testimonial-border__circle--top {
			top: 0;
		}
		.testimonial-border__circle--bottom {
			bottom: 0;
		}
	}
}