// Container
.container {
    @include media($bp-large) {
        max-width: 960px;
        margin: 0 auto;
    }
    @include media($bp-xlarge) {
		max-width: 1024px;
        margin: 0 auto;
    }
    &.inner {
        
    }
}

// Text color
.-color-w,
.-color-w p {
    color: white;
}

.-color-b,
.-color-b p {
    color: $black;
}

// Display
.-d-none {
    display: none;
}

.-d-b {
    display: block;
}

.-d-ib {
    display: inline-block;
}
// Position
.-pos-r {
    position: relative;
}
.-pos-a {
    position: absolute;
}
.-pos-f {
    position: fixed;
}
// Text Align
.-ta-center {
    text-align: center;
}

// Letter Spacing
.-ls-3 {
    letter-spacing: 3px;
}
// Margin
.-m0 {
    margin: 0;
}

.-mb-small {
    margin: 0 0 2rem 0;
}

// Padding
.-p0 {
    padding: 0;
}

.-ptb1 {
    padding: 1rem 0;
}

.-pt1 {
    padding: 1rem 0 0 0;
}

.-pt2 {
    padding: 2rem 0 0 0;
}

.-ptb-default {
    padding: 4rem 0;
}
// Flexbox
.-flex {
    display: flex;
    flex-wrap: wrap;
    .-flex-half {
        @include media($bp-large) {
            width: 48%;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
    .-flex-third {
        @include media($bp-large) {
            width: 30%;
        }
    }
    .-flex-quarter {
        @include media($bp-large) {
            width: 23%;
        }
    }
}

.-flex-ai-c {
    align-items: center;
}

.-flex-jc-sb {
    justify-content: space-between;
}


// Lists
.-lst-none {
    list-style-type: none;
}

// Background

@mixin bg-white-alpha($alpha) {
	background-color: rgba(255,255,255,$alpha);
}

.-bg-white {
    background-color: white;
}

.-bg-accent {
    background-color: $copper;
}

.-bg-dgrey {
    background-color: $d-grey;
}

.-bg-green {
    background-color: $green;
}

// Opacity


