section.front-page__intro.about {
	padding: 30px;
	@include media($bp-med) {
		padding: 0;
    }
}

section.about__services-cta {
	
	// 
	margin-top: -116px;
	// 
	@include media($bp-med) {
		height: 570px;
		@include flexboxcenter;
    }
}

.about__services-cta__photo {
	height: 400px;
	// 
	background-size:cover;
	background-repeat: no-repeat;
	// background-attachment: fixed;
	// 
	@include media($bp-med) {
		height: 100%;
		background-position: center center;
		@include flex(0 0 50%);
    }
}

.about__services-cta__text {
	height: 500px;
	// 
	padding: 40px;
	// 
	@include media($bp-med) {
		height: 100%;
		padding: 70px 100px;
		@include flex(0 0 50%);
    }
}


.tab-section-wrapper.two.about {
	background-color: $m-blue;
	@include media($bp-med) {
		padding-bottom: 110px;
    }
	section.front-page__buckets.about {
		background-color: $m-blue;
		.outer-container {
			background-color: $m-blue;	
		}
	}	
}

.column-4.column-container.about {
	padding: 0 50px;
	// 
	@include justify-content(space-between);
}

.column-4__single.team-members__single {
	margin-top: 40px;
	&:first-child {
		margin-top: 0;
	}
	// 
	@include media($bp-med) {
		margin-top: 30px;
		&:first-child {
			margin-top: 30px;
		}
		@include flex(0 0 21%);
    }
}

.team-members__img {
	width: 120px;
	height: 120px;
	// 
	background-size:contain;
	background-color: $m-blue;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.6;
    //
    margin: 20px auto 0;
}


// RENAME THESE TAB SECTIONS TO BE USED ACCROSS TEMPLATES!!!
 // NO FRONT-PAGE NONSENSE
