section.about__services-cta {
	min-height: 500px;
}


.tab-section-wrapper.two {
	.front-page__buckets.about {
		background-color: $m-blue;
		.outer-container {
			background-color: $m-blue;	
		}
	}	
}


// RENAME THESE TAB SECTIONS TO BE USED ACCROSS TEMPLATES!!!
 // NO FRONT-PAGE NONSENSE
