.about-intro {
	p {
		font-size: 40px;
		color: rgb(196, 196, 196);
		font-style: italic;
		font-family: $serif-font;
		line-height: 1.3;
		font-weight: 200;
	}
}

.about-refs {
	h3 {
		margin-bottom: 2rem;
	}
	img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
	p {
		font-size: 1rem;
		line-height: 1.3;
	}
}

.about-team {
	.team-single {
		margin-bottom: 1rem;
		@include media($bp-med) {
			width: 45%;
		}
	}
	.team-single p {
		font-size: 1.1rem;
		line-height: 1.3;
	}
}

.about-cs {
	h4 {
		padding-bottom: 10vw;
	}
}

.about-highlight {
	background-repeat: no-repeat;
	background-size: 40vw auto;
	background-position: bottom right;
	.btn {
		bottom: 0;
		right: 0;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	span {
		font-size: 0.9rem;
	}
}