.back-to-toc {
	border-bottom: 1px solid $grey;
	margin-bottom: 60px;
	position: relative;
	@include media($bp-ls-small) {
		margin: 30px;
	}
	p {
		margin-bottom: 0;
	}
	// img {
	// 	position: absolute;
	// 	right: 0;
	// 	top: -7px;
	// 	width: 90px;
	// 	height: auto;
	// 	opacity: 0.7;
	// 	@include media($bp-med) {
	// 		top: -29px;
	// 		width: 160px;
	// 	}
	// 	@include media($bp-ls-small) {
	// 		width: 100px;
	// 		top: -6px;
	// 	}
	// }
	img {
		position: absolute;
		right: 0;
		top: -27px;
		width: 90px;
		height: auto;
		opacity: 0.7;
		@include media($bp-med) {
			top: -63px;
			right: -8px;
			width: 160px;
		}
		@include media($bp-ls-small) {
			width: 100px;
			top: -28px;
			right: -5px;
		}
	}
}

.main-content.blog-index {
	margin-bottom: 0;
	margin-top: 50px;
	padding: 15px;
	@include media($bp-med) {
		padding: 0;
		margin-top: 0;
	}
	.back-to-toc {
		margin-bottom: 30px;
	}
}

h1.blog-title {
	margin: 0;
	padding: 0 20px;
	@include media($bp-med) {
		padding: 0;
	}
	@include media($bp-ls-small) {
		padding: 0 20px;
	}
}

.main-content.single {
	margin-bottom: 0;
	@include media($bp-small) {
		margin-top: 70px;
	}
}

.blog-meta {
	padding: 0 15px;
	@include media($bp-med) {
		@include display(flex);
		padding: 0;
	}
	@include media($bp-ls-small) {
		padding: 0 15px;
	}
}

.single-blog-pullquote {
	@include display(flex);
	@include flex-direction(column);
	@include media($bp-med) {
		margin: 0 -80px;
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(center);
	}
	@include media($bp-ls-small) {
		margin: 0;
	}
	blockquote {
		padding: 15px;
		margin: 0;
		font-size: modular-scale(2);
		line-height: modular-scale(3);
		color: $grey;
		font-family: $title-font;
		font-weight: 300;
		font-style: italic;
		@include order(-1);
		@include media($bp-med) {
			margin: 50px 50px 30px;
			padding: 0;
			@include order(2);
		}
		@include media($bp-ls-small) {
			margin: 20px;
		}
	}
}

#post-social-share {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		@include display(flex);
		@include align-items(flex-start);
		@include media($bp-med) {
			@include flex-direction(column);
			@include justify-content(space-between);
		}
		li {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: $l-grey;
			margin-right: 15px;
			@include flexboxcenter;
			@include media($bp-med) {
				margin: 5px 0;
			}
			&:hover {
				background-color: $copper;
				a {
					color: $l-grey;
				}
			}
			a {
				color: $copper;
			}
		}
	}
}



.blog-entry {
	margin-bottom: 50px;
	p {
		font-weight: 300;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	iframe {
		max-width: 100%;
	}
}

.prev-next-link {
	width: 100%;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	.comments__text {
		background-color: $copper;
		padding: 15px;
		text-align: center;
		margin: 0 10px;
		font-family: $title-font;
		@include media($bp-med) {
			padding: 30px 60px;
			margin: 0 30px;
		}
		p {
			margin: 0;
			color: $white;
			line-height: modular-scale(0);
		}
	}
}

// ISOTOPE FILTERING SYSTEM
#isotope-container {
    .filters {
		// border-bottom: 1px solid #cbcbcb;
		// margin-top: 50px;
		overflow: hidden;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
    }
    .isotope {
        padding-top: 30px;
    }
}

.secondary a {
	padding: 10px 15px;
	background-color: $l-grey;
	min-width: 100px;
	text-align: center;
	color: $white;
}

#show-all {
	background-color: $grey;
}

#show-facebook {
	background-color: $d-blue;
}

#show-instagram {
	background-color: $m-blue;
}

#show-twitter {
	background-color: $l-blue;
}

#show-blog {
	background-color: $copper;
}

section[role=main] {
    // @include outer-container;
    @include pad(0 2em 0 2em);
    @include media($bp-large) {
        @include pad(2em 5em);
    }
    article {
    	margin-top: 1.5em;
        @include media($bp-large) {
           @include span-columns(4);
           padding-left: 3em;
           border-left: 1px solid #E0E0E0;
        }
    }
}

.post-container {
	// @include span-columns(5);
	@include media($bp-large) {
		// @include span-columns(10);
		// @include shift(1);
    }
}

.post-item {
	position: relative;
	.post-icon {
		position: absolute;
		bottom: 15px;
		right: 15px;
		i {
			color: $white;
			font-size: modular-scale(0);
			line-height: modular-scale(0);
		}
		z-index: 70;
		transition: all 0.5s ease;
		&:hover {
			transform: rotate(20deg);
		} 
	}
	&:hover {
		.facebook {
			background:$facebook-post-bg;
		}
		.blog {
			background:$blog-post-bg;
		}
		.instagram {
			background:$instagram-post-bg;
		}
	}
	margin-bottom:30px;
	// 
    @include row;
    @include omega;
	@include span-columns(5);
	@include media($bp-large) {
		@include span-columns(3.90);
		float:left;
	}
	.categories {
		position: absolute;
		// 
		bottom: 10px;
	}		
	.post {
		padding: 15px;
		position:relative;
		z-index: 65;
		// 
		// border:1px solid #cbcbcb;
		.post-title {
			> p:first-child {
				margin-bottom: 0;
				color: $white;
				font-weight: bold;
				font-size: modular-scale(0,1rem);
				line-height: modular-scale(0,1rem);
				text-transform: uppercase;
			}
		}
		p.title {
			margin-top: 10px;
			a {
				font-weight: 300;
				color: $white;
				font-size: modular-scale(0,1.2rem);
				line-height: modular-scale(0,1.2rem);
				&:hover {
					color: $copper;
				}
			}
		}
		@include media($bp-large) {
			.post-image {
				width: 100%;
				height: 250px;
				// 
				float:left;	
				// 
				background-position: center center;
				background-repeat:no-repeat; 
				background-size: cover; 
				overflow: hidden;
				// 
				margin-bottom:10px;
				img {
					border-radius: 10%;
				}
			}
			.post-content {
				float:left;
				// 
				margin-left:170px;
				margin-bottom: 55px;
			}
		}
	}
	.post-footer {
		position:relative;
		// 
		padding: 20px 20px 23px 70px;
		border:1px solid #cbcbcb;
		border-top:none;
		&.facebook {
			background:$facebook-post-bg;
			&:before {
				@include feed-ribbon();
			}
		}
		&.instagram {
			background:$instagram-post-bg;
			&:before {
				@include feed-ribbon();
				background-position:-37px 0;
			}
		}
		&.blog {
			background:$blog-post-bg;
			&:before {
				@include feed-ribbon();
				background-position:-73px 0;
			}
		}
	}	
}

.post-item.instagram {
	// background-color:$instagram-post-bg;
	background-color: $m-blue;
	.post-image {
		width: 100%;
		height: 250px;
		// 
		float:left;	
		// 
		background-position: center center;
		background-repeat:no-repeat; 
		background-size: cover; 
		overflow: hidden;
		// 
		margin-bottom:10px;
		img {
			border-radius: 10%;
		}
	}
}

.post-item.facebook {
	padding: 20px;
	// background-color:$facebook-post-bg;
	background-color: $d-blue;
	@include media($bp-large) {
		.post-image {
			width: 100px;
			height: 100px;
			// 
			float:left;	
			// 
			background-position: center center;
			background-repeat:no-repeat; 
			background-size: cover; 
			overflow: hidden;
			// 
			margin-bottom:10px;
			img {
				border-radius: 10%;
			}
		}
		.post-title {
			> p:first-child {
				margin-top: 0;
			}
		}
		p.title a {
			// padding: 10px;
			font-weight: 300;
			color: $white;
			font-size: modular-scale(2, 1rem);
			line-height: modular-scale(2, 1rem);
			&:hover {
				color: $copper;
			}
		}
	}
}

.post-item.blog {
	// background-color:$blog-post-bg;
	background-color: $copper;
	p.title {
		a {
			&:hover {
				color: $l-blue;
			}
		}
	}
}

.post-item.twitter {
	background-color: $l-blue;
	padding: 20px;
	.post-title {
		> p:first-child {
			color: $copper;
			font-weight: bold;
			font-size: modular-scale(0,1rem);
			line-height: modular-scale(0,1rem);
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 15px;
		}
		p.title a {
			// padding: 10px;
			font-weight: 300;
			color: $white;
			font-size: modular-scale(2, 1rem);
			line-height: modular-scale(2, 1rem);
			&:hover {
				color: $copper;
			}
		}
	}
}


// COMMENTS

.prev-next-link {
	margin-bottom: 80px;
}

#comments {
	width: 100%;
	margin-top: 50px;
	ul {
		list-style-type: none;
	}
} 
