// STATIC CONTACT FORM
.full-screen-wrapper.contact {
	width: 100%;
	// 
	position: relative;
	// 
	background-color: $d-blue;
	background-image: url(../images/postcardlarge.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
	z-index: 10;
	// 
	padding-bottom: 80px;
	padding-top: 60px;
	margin-top: -116px;
	// 
	@include flexboxcenter;
	@include flex-direction(column);
}

.contact__circle-icon {
	width: 116px;
	height: 116px;
	// 
	position: relative;
	top: -55px;
	// 
	background-color: $d-blue;
	background: url('../images/tab-three.jpg');
	z-index: 9;
	// 
	border-radius: 50%;
	margin-left: 3px;
	margin: 0 auto;
}

.contact-intro {
	margin: 0 15% 30px;
}

.contact-form {
	width: 100%;
	min-height: 500px;
	// 
	padding: 30px;
	// 
	@include display(flex);
	@include flex-direction(column);
	// 
    @include media($bp-med) {
		@include flex-direction(row);
    }
}

.contact-form__left, 
.contact-form__right {
	display: block;
	// 
	padding: 0 30px 0 0;
	// 
    @include media($bp-med) {
		@include display(flex);
		@include flex-direction(column);
		@include flex(0 0 100%);
    }
}

.contact-form__left {
    @include media($bp-med) {
		@include flex(0 0 25%);
    }
}

.contact__social {
	ul {
		list-style-type: none;
		// 
		margin: 0;
		padding: 0;
		@include display(flex);
		li {
			width: 35px;
			height: 35px;
			// 
			background-color: rgba(255,255,255,1);
			// 
			border-radius: 50%;
			margin: 0 5px;
			//
			@include flexboxcenter;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.contact-form__right {
	margin-top: 20px;
    @include media($bp-med) {
		@include flex(0 0 75%);
		padding: 0 0 0 30px;
		margin: 0;
    }
	h4 {
		margin-bottom: 0;
	}
}

#wpcf7-f28-p185-o1 {
	max-width: 400px;
	// 
	position: relative;
}

.wpcf7-form-control-wrap.your-name,
.wpcf7-form-control-wrap.your-email,
.wpcf7-form-control-wrap.your-message {
	width: 100%;
	// 
	position: relative;
	.wpcf7-text {
		width: 100%;
		// 
		background: transparent;
		// 
		border: 0;
		border-bottom: 2px solid rgba(0,0,0,0.05);
	}
	.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email {
		border: 0;
		border-bottom: 2px solid rgba(0,0,0,0.05);
		background: transparent;
	}
	.wpcf7-form-control.wpcf7-textarea {
		width: 100%;
		max-height: 150px;
		// 
		position: relative;
		// 
		background-color: rgba(255,255,255,0.3);
		// 
		border: 0;
		padding: 15px;
	}	
}

.wpcf7-form-control.wpcf7-submit {
	background-color: $white;
	// 
	padding: 10px 50px;
	border: 0;
	margin-top: 20px;
	// 
	&:hover {
		background-color: $copper;
		color: $white;
	}
	@include media($bp-med) {
		float: right;
	}
}

.name-email-container,
.message-container,
.to-container {
	position: relative;
	// 
	@include media($bp-med) {
		@include display(flex);
		@include align-items(flex-start);
		@include justify-content(flex-start);
		@include flex-direction(row);
	}
	> p {
		@include flex (0 0 15%);
	}
	> div {
		@include flex (0 0 85%);
	}
}

.message-container {
	margin-top: 20px;
}

.name-email-wrap {
	background-color: rgba(255,255,255,0.3);
	// 
	padding: 15px;
	// 
	@include display(flex);
	@include align-items(flex-start);
	@include justify-content(center);
	@include flex-direction(column);
}

#contact-name {
	// padding-left: 60px;
}
