footer {
	width: 100%;
	// 
	background-color: $d-green;
	background: url(../images/footerfabric.jpg);
	// 
	// z-index: 9999999999999999;
	// 
	@include flexboxcenter;
	@include media($bp-small) {
		padding-bottom: 90px;
		padding-top: 30px;
		display: block;
    }
}

.contact {
	.contact__blurb a {
		color: $white;
		border-bottom: 1px solid $white;
		&:hover {
			border-bottom: 1px solid $copper;
		}
	}
}