footer {
	width: 100%;
	// 
	background-color: $d-green;
	background: url(../images/footerfabric.jpg);
	// 
	@include flexboxcenter;
	@include media($bp-small) {
		padding-bottom: 90px;
		padding-top: 30px;
		display: block;
    }
}