.main-header {
	width: 100%;
	height: 70vh;
	background-color: $l-grey;
	position: relative;
	@include flexboxcenter;
	@include flex-direction(column);
	.header__text {
		padding: 0 20%;
	}
	.header__circle-icon {
		width: 80px;
		height: 80px;
		background-color: $white;
		border-radius: 50%;
		border: 1px solid #e3e3e3;
		position: absolute;
		bottom: -40px;
		left: 47%;
		right: 47%;
		margin: 0 auto;
	}
	h1 {
		color: $white;
		text-align: center;
		font-weight: 400;
		letter-spacing: 5px;
		font-size: modular-scale(4);
		line-height: modular-scale(4);
	}
}

.main-header.inner-nav {
	position: relative;
}

nav {
	@include display(flex);
	width: 100%;
	position: absolute;
	top: 0;
	p {
		margin: 0;
	}
	#main-menu {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			@include display(flex);
			li {

			}
		}
	}
}

.nav__right,
.nav__left {
	@include display(flex);
}