.main-header {
	width: 100%;
	min-height: 70vh;
	background-color: $l-grey;
	position: relative;
	@include flexboxcenter;
	@include flex-direction(column);
	.header__text {
		padding: 3% 20% 0;
	}
	.header__circle-icon {
		width: 160px;
		height: 160px;
		background-color: $white;
		border-radius: 50%;
		border: 1px solid #e3e3e3;
		position: relative;
		bottom: -80px;
	}
	h1 {
		color: $white;
		text-align: center;
		font-weight: 400;
		letter-spacing: 5px;
		font-size: modular-scale(4);
		line-height: modular-scale(4);
	}
}

.text-only-header {
	margin-bottom: 80px;
	h1 {
		letter-spacing: 5px;
		font-size: modular-scale(4);
		line-height: modular-scale(4);
		margin-bottom: 0;
		font-weight: normal;
	}
	h2 {
		margin-top: 0;
		font-weight: normal;
	}
	span.plain-serif {
		font-family: serif;
	}
}

.main-header.inner-nav.error-page {
	min-height: 80vh;
	margin-bottom: 100px;
	h2 {
		font-weight: normal;
		margin-bottom: 0;
	}
	p {
		margin-top: 0;
		text-align: center;
	}
}

.main-header.inner-nav.small-header {
	.header__text {
		padding: 0 17%;
	}
	.left-align-text {
		text-align: left;
		margin-bottom: 20px;
	}
	.header-blurb {
		p {
			margin-bottom: 0;
			margin-top: 0;
			font-size: modular-scale(0, 1rem);
			line-height: modular-scale(1);
		}
	}
}


