.main-header {
	width: 100%;
	height: 70vh;
	background-color: $l-grey;
	position: relative;
	@include flexboxcenter;
	@include flex-direction(column);
	.header__text {
		padding: 3% 20%;
	}
	.header__circle-icon {
		width: 160px;
		height: 160px;
		background-color: $white;
		border-radius: 50%;
		border: 1px solid #e3e3e3;
		position: absolute;
		bottom: -80px;
		left: 44%;
		right: 44%;
		margin: 0 auto;
	}
	h1 {
		color: $white;
		text-align: center;
		font-weight: 400;
		letter-spacing: 5px;
		font-size: modular-scale(4);
		line-height: modular-scale(4);
	}
}

