.home_intro {
	background-repeat: no-repeat;
	background-size: 40vw auto;
	background-position: bottom right;
	.btn {
		bottom: 0;
		right: 0;
	}
}

.home_services {
	.heading {
		img {
			max-width: 35px;
			max-height: 35px;
			margin-right: 0.5rem;
		}
	}
	ul {
		// padding-left: 1rem;
	}
}

.home-page-cta {
	position: relative;
	margin-top: 60px;
	@include media($bp-small) {
		margin-top: 40px;
	}
	// img {
	// 	position: absolute;
	// 	top: -24px;
	// 	right: 15px;
	// 	width: 80px;
	// 	height: auto;
	// 	@include media($bp-small) {
	// 		display: none;
	// 	}
	// }

	img {
		position: absolute;
		top: -60px;
		right: 10px;
		width: 100px;
		height: auto;
		@include media($bp-small) {
			display: none;
		}
	}
}

.front-page__buckets {
	width: 80%;
	// 
	position: relative;
	// 
	background-color: $white;
	z-index: 35;
	// 
	padding-top: 30px;
	margin-bottom: -50px;
	margin: 0 auto;
	.outer-container {
		position: relative;
		// 
		background-color: $white;
		// 
		padding-top: 30px;
		// 
		@include flexboxcenter;
		@include flex-direction(column);
	}
	.column-4 {
		padding-top: 30px;
		@include media($bp-ls-small) {
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}
	}
	.column-4__single {
		padding: 20px 0 0;
		@include media($bp-ls-small) {
			@include flex (0 0 40%);
		}
		@include media($bp-med) {
			padding: 0;
	    }
	}
	.column-4__single ul {
		list-style-type: none;
		padding: 0;
		li {
			// color: $copper;
		}
		li + li {
			margin-top: 4px;
		}
	}
}

.front-page__testimonial {
	margin: 0 100px;
}

.services-testimonial.front-page-test {
	padding: 30px 30px 60px;
	@include media($bp-med) {
		padding: 30px;
    }
}

.outer-container.front-page {
	// margin-top: -80px;
	.main-content {
		position: relative;
		// 
		z-index: 50;
		margin-bottom: 0;
	}
}



