.tab-section-wrapper {
	position: relative;
	// 
	z-index: 1;
}

.tab-section-wrapper.two {
	margin-top: -116px;
	z-index: 1;
}

.front-page__intro,
.front-page__buckets {
	position: relative;
	top: -116px;
	// 
	z-index: 30;
}

.front-page__circle-icon {
	width: 116px;
	height: 116px;
	//
	position: relative;
	top: -55px;
	 // 
	background-color: $white;
	border-radius: 50%;
	z-index: 29;
	// 
	margin: 0 auto;
}

.tab-one {
	background: url(../images/tab-one.jpg);
}

.tab-two {
	background: url(../images/tab-two.jpg);
}



.front-page__intro {
	background-color: $l-grey;
	padding-bottom: 100px;
	@include flexboxcenter;
	@include flex-direction(column);
	@include media($bp-small) {
		padding: 30px 30px 60px;
    }
    button.copper-btn.large-btn {
    	@include media($bp-med) {
    		padding: 15px 140px;
        }
    }
}

.home-page-cta {
	position: relative;
	margin-top: 40px;
	img {
		position: absolute;
		top: -26px;
		right: 15px;
	}
}

.front-page__buckets {
	width: 80%;
	// 
	position: relative;
	// 
	background-color: $white;
	z-index: 35;
	// 
	padding-top: 30px;
	margin-bottom: -50px;
	margin: 0 auto;
	.outer-container {
		position: relative;
		// 
		background-color: $white;
		// 
		padding-top: 30px;
	}
	.column-4 {
		padding-top: 30px;
	}
	.column-4__single ul {
		list-style-type: none;
		padding: 0;
		li {
			color: $copper;
		}
		li + li {
			margin-top: 4px;
		}
	}
}

.front-page__testimonial {
	margin: 0 100px;
}

.outer-container.front-page {
	margin-top: -80px;
	.main-content {
		position: relative;
		// 
		z-index: 50;
		margin-bottom: 0;
	}
}