body {
	overflow-x: hidden;
}


span.text-disappear {
    @include media($bp-small) {
    	color: rgba(0,0,0,0);
    	a {
    		color: rgba(0,0,0,0);
    	}
    }
}

.outer-container {
	@include outer-container;
}

.outer-container.blog-index {
	margin-top: 50px;
}

.main-content {
    @include media($bp-large) {
    	margin: 50px 0;
		@include span-columns(8);
		@include shift(2);
    }
}

.main-content--narrow {
    @include media($bp-large) {
		@include span-columns(6);
    }
}

.main-content--narrow.blog {
    @include media($bp-large) {
		@include span-columns(6);
		@include shift(3);
    }
}

.main-content-case-study {
	background-color: $white;
	// 
	padding: 20px;
	margin: 0 20px;
	@include media($bp-large) {
		padding: 50px;
		margin: 50px 0 0;
		@include span-columns(7);
		@include shift(1);
    }
}

.no-top-margin {
	margin-top: 0;
}

.front-page .main-content:first-child {
	margin-top: 100px;
}

.column-4 {
	width: 100%;
	// 
	@include media($bp-med) {
		@include display(flex);
		@include align-items(flex-start);
		@include justify-content(center);
    }
	.column-4__single {
		@include media($bp-med) {
			// height: 350px;
			margin: 0 1%;
			@include flex(0 0 23.5%);
	    }
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
