body {
	color: rgba(0,0,0,0.7);
	overflow-x: hidden;
}

.outer-container {
	@include outer-container;
}

.outer-container.blog-index {
	margin-top: 50px;
}

.main-content {
    @include media($bp-large) {
    	margin: 50px 0;
		@include span-columns(8);
		@include shift(2);
    }
}

.main-content-narrow {
    @include media($bp-large) {
		@include span-columns(6);
    }
    h2 {
    	font-weight: normal;
    	margin-top: 0;
    }
}

.main-content-case-study {
	@include media($bp-large) {
    	margin: 50px 0 0;
    	padding: 50px;
		@include span-columns(7);
		@include shift(1);
		background-color: $white;
    }
}

.no-top-margin {
	margin-top: 0;
}

.front-page .main-content:first-child {
	margin-top: 100px;
}

.column-container {

}

.column-3 {
	.column-3__single {
		
	}
}

.column-4 {
	width: 100%;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	.column-4__single {
		// border: 1px solid grey;
		height: 350px;
		margin: 0 1%;
		@include flex(0 0 23.5%);
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
