body {

}

.outer-container {
	@include outer-container;
}

.main-content {
    @include media($bp-large) {
    	margin: 50px 0;
		@include span-columns(8);
		@include shift(2);
    }
}

.column-container {

}

.column-4 {
	width: 100%;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	.column-4__single {
		background-color: $black;
		height: 350px;
		margin: 0 1%;
		@include flex(0 0 23.5%);
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
