.tabs-panel-intro {
		padding-top: 40px;
		// 
		@include flexalignstart;
	.tabs-panel__left {
		@include flex(0 0 30%);
		img {
			width: 200px;
			height: auto;
		}
	}
	.tabs-panel__right {
		@include flex(0 0 70%);
		@include display(flex);
		@include flex-direction(column);
	}
}

.tabs-panel-pockets {
	width: 100%;
	// 
	padding: 20px 60px 50px;
	// 
	@include display(flex);
	@include align-items(flex-start);
	@include justify-content(center);
	@include flex-wrap(wrap);
	div.service-pocket__single {
		@include flex(0 0 26%);
		padding: 0 30px 50px;
	}
	div.consulting-pocket__single {
		@include flex(0 0 100%);
		padding: 0 20%;
		h2 {
			font-size: modular-scale(2);
			line-height: modular-scale(3);
			margin-bottom: 10px;
		}
		p {
			font-size: modular-scale(0);
			line-height: modular-scale(1);
			font-weight: 300;
		}
	}
}

// TABS

/*  == tab heading */
#responsive-tabs {
	background:transparent;
	overflow:hidden;
	z-index: 5;
}
.tabs.r-tabs > ul { 
	width: 100%;
	// 
	background: $grey;
	overflow:hidden; 
	li { 
		&:first-child {
			// margin-left: -50px;
		}
		width: 25%;
		// 
		float: left;
		// 
		display: inline-block;
		padding:0;
		span {
			//border-bottom: 1px solid #fff;
		}
		a { 
			background: $grey;
			box-sizing: border-box;
			// 
			padding: 20px 5%;
			// 
			@include flexboxcenter; 
			&:hover {
				background: $d-grey;
            }
            .tab-icon {
            	width: 50px;
            	height: 50px;
            	// 
            	background-size:contain;
            	background-color: $grey;
        	    background-blend-mode: multiply;
        	    background-repeat: no-repeat;
        	    background-position: center center;
        	    display: inline-block;
            }
		}
		&:hover {
    		.tab-icon {
        	background-color: $d-grey;
        	}
    	}
		&.r-tabs-state-active { 
			a {
				background:$white;
				&:hover {
					background-color: none;
				}
				.tab-icon {
            	background-color: $white;
            	}	
			}
		}
	}
	h2 {
		padding:0 0 92px 0;
	}
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    list-style: none;
    // 
    margin: 0;
}

.r-tabs .r-tabs-panel {
    display: none;
    // 
	@include media($bp-large) {
		// padding: 60px 15px 15px;
	}
	& section {
		@include media($bp-large) {
			padding-bottom:1.5em;
			// 
			@include span-columns(6 of 12);
			@include omega(2n);
		}
		ul {
			display: block;
			// 
			margin-bottom: 20px;
			margin-left:20px;
			li {
				@include media($bp-large) {
					width:100%;
					// 
					display:block;
				}
			}
		}
	}
}

.r-tabs .r-tabs-accordion-title {
    display: none;
	a { 
		box-sizing: border-box;
		// 
		background: $l-blue;
		display:block;
		// 
		border-bottom:1px solid #fff;
		padding: 20px 3%; 
		&:hover {
			background: blue;
		}
	}
}

.r-tabs-tab.r-tabs-state-active {
    display: block;
}
/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .tabs.r-tabs .r-tabs-nav {
        display: none;
    }
    .r-tabs .r-tabs-accordion-title {
        display: block;
		a {
			position:relative;
			span {
				width:80%;
				// 
				border-bottom:none;
			    display: block;
				&:after {
					content:"";
					// 
					width:20px;
					height:20px;
					// 
					position:absolute;
					right:15px;
					top:35%;
				}
			}
		}
		&.r-tabs-state-active {
			& a span:after {
				top:45%;
			}	
		}
    }
}

.responsive-tabs__list {
	list-style-type: none;
	// 
	padding: 0;
	margin: 0 auto;
}

// TESTIMONIALS
.services-testimonial {
	@include flexboxcenter;
}

.services-testimonial {
	min-height: 550px;
	width: 100%;
	// 
	background-color: $m-blue;
	.main-content {
		position: relative;
		// 
		padding-left: 50px;
		border-left: 1px solid $white;
		.testimonial-border__circle--top,
		.testimonial-border__circle--bottom {
			width: 10px;
			height: 10px;
			// 
			position: absolute;
			left: -5px;
			// 
			background-color: $white;
			// 
			border-radius: 50%;
		}
		.testimonial-border__circle--top {
			top: 0;
		}
		.testimonial-border__circle--bottom {
			bottom: 0;
		}
	}
}

// CASE STUDIES
.services-case-studies {
	min-height: 500px;
	// 
	background: $l-grey;
	// 
	padding-top: 50px;
	.outer-container {
		position: relative;
		.main-content-case-study {
			position: relative;
			// 
			z-index: 3;
		}
		.previous-cs,
		.next-cs {
			width: 160px;
			height: 160px;
			// 
			position: absolute;
			left: 20px;
			top: 50%;
			// 
			background-color: rgba(255,255,255,0.7);
			border-radius: 50%;
			z-index: 2;
		}
		.next-cs {
			left: 710px;
		}
	}
}