.signup-form {
  background-color: $copper;
  @include media($bp-small) {
    display: none;
  }
  @include media($bp-ls-small) {
    display: none;
  }
}

.signup-form {
  // display: none;
  display: block;
  width: 100%;
  position: fixed;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease;
  &.open {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 50;
    transition: all 0.5s ease;
  }
}

// .signup-form#fixed-signup {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	z-index: 999999999999;
// }

.signup-form .outer-container .main-content {
  padding: 15px 0;
  margin-top: 0;
  margin-bottom: 0;
  //
  @include display(flex);
  @include align-items(flex-end);
  @include justify-content(center);
  @include media($bp-small) {
    display: block;
  }
  #mce-EMAIL {
    background-color: transparent;
    //
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin: 0;
  }
  #mc-embedded-subscribe.white-btn {
    background-color: $white;
    //
    border-radius: 0;
    margin: 0;
    margin-left: 30px;
    &:hover {
      background-color: $l-grey;
      cursor: pointer;
    }
  }
}

.signup-form.signup--dark {
  background-color: #e0ddd5;
  #mce-EMAIL {
    background-color: transparent;
  }
}

#main-signup {
  #mc-embedded-subscribe-form {
    padding: 0;
    margin: 0;
    #mc_embed_signup_scroll {
      @include display(flex);
      @include justify-content(space-between);
    }
  }
}

// SEARCH
.nav__right #searchform {
  padding-right: 30px;
  margin-left: 10px;
  input#s {
    max-width: 100px;
    height: 21px;
    //
    background-color: transparent;
    //
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.5s ease;
    &:active,
    &:focus {
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
  }
  input#searchsubmit {
    width: 20px;
    height: 20px;
    //
    background: url(../images/search.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    //
    border: 0;
    margin-top: 5px;
  }
}

// CONTACT MODAL

#menu-main-menu li.contact-modal-on {
  background: $l-blue;
}

.desktop {
  position: relative;
  #contact-modal {
    display: none;
    z-index: 9999999999999999999999999999;
    width: 400px;
    background-color: $l-blue;
    position: absolute;
    right: 164px;
    top: 64px;
    padding: 50px;
    h3 {
      font-size: modular-scale(1);
      line-height: modular-scale(1);
      margin-bottom: 20px;
    }
    p {
      font-size: modular-scale(0, 1.2rem);
      line-height: modular-scale(1, 1.2rem);
      font-weight: 300;
      margin-bottom: 20px;
    }
  }
  .contact-form__left {
    padding: 0;
  }
  .contact__deats {
    @include display(flex);
    @include align-items(flex-start);
    @include justify-content(space-between);
  }
  .contact__social {
    @include flexboxcenter;
    margin-bottom: 20px;
  }
  .to-container {
    display: flex;
    p {
      @include flex(0 0 auto);
      padding-right: 20px;
    }
  }
  .name-email-container,
  .message-container {
    position: relative;
    //
    @include media($bp-med) {
      @include display(flex);
      @include align-items(flex-start);
      @include justify-content(flex-start);
      @include flex-direction(column);
    }
  }
  .name-email-container {
    display: block;
  }
  .message-container {
    display: block;
  }
  .quiz-container {
    display: block;
  }
}

.comment-form-comment {
  textarea {
    width: 100%;
  }
}

.form-allowed-tags {
  font-size: modular-scale(0, 1rem);
  line-height: modular-scale(0, 1rem);
}

.comment-form {
  .form-submit input {
    padding: 10px 20px;
    font-size: modular-scale(0, 1rem);
    margin-top: 15px;
    @include media($bp-med) {
      padding: 10px 40px;
      font-size: modular-scale(0);
    }
    @include media($bp-ls-small) {
      padding: 10px 20px;
      font-size: modular-scale(0, 1rem);
      margin-top: 15px;
    }
    border: 0;
    background-color: $copper;
    color: $white;
    &:hover {
      background-color: $l-grey;
      color: $copper;
      cursor: pointer;
      a {
        color: $white;
      }
    }
  }
}

.contact-form__right {
  input,
  textarea {
    color: $black;
    max-width: 100%;
  }
  input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    background: $white;
    color: $copper;
    padding: 0.8rem 1rem;
    display: inline-block;
    letter-spacing: 3px;
    &:hover {
      color: $grey;
    }
    @include media($bp-large) {
      padding: 0.8rem 4rem;
    }
  }
  .gform_wrapper div.charleft {
    color: $white;
  }
}
