.signup-form .outer-container .main-content {
	margin-top: 0;
	margin-bottom: 0;
	@include display(flex);
	@include align-items(flex-end);
	@include justify-content(space-between);
	padding: 15px 0;
	p {
		letter-spacing: 2px;
		line-height: modular-scale(0);
		margin: 0;
		text-transform: uppercase;
		font-weight: bold;
	}
	#mce-EMAIL {
		border: 0;
		margin: 0;
		padding: 0;
		border-bottom: 1px dashed $grey;
		text-align: center;
	}
	#mc-embedded-subscribe {
		background-color: $black;
		border-radius: 0;
		font-family: $p-font;
		margin: 0;
	}
}

.signup-form.signup--dark {
	background-color: #e0ddd5;
	#mce-EMAIL {
		background-color: transparent;
	}
}

#main-signup {
	#mc-embedded-subscribe-form {
		padding: 0;
		#mc_embed_signup_scroll {
			@include display(flex);
			@include justify-content(space-between);
		}
	}
	input.email {
		font-style: italic;
	}
	#mc-embedded-subscribe {
	}
}

// SEARCH
.nav__right #searchform {
	margin-right: 20px; 
	input#s {
		border: 0;
		border-bottom: 1px dashed $grey;
		background-color: transparent;
	}
	input#searchsubmit {
		// padding-top: 30px;
		width: 30px;
		height: 30px;
		background: url(../images/search.png);
		opacity: 0.3;
		background-size: cover;
		background-repeat: no-repeat;
		border: 0;
	}
}

// CONTACT
.contact-form {
	min-height: 500px;
	border: 1px solid $black;
	padding: 50px;
	@include display(flex);
}

.contact-form__left, 
.contact-form__right {
	padding: 0 30px 0 0;
	@include display(flex);
	@include flex-direction(column);
}

.contact-form__left {
	border-right: 1px solid $grey;
	@include flex(0 0 40%);
}

.contact__deats {
	font-weight: bold;
	p {
		text-transform: uppercase;
		margin: 0;
	}
}

.contact__blurb {
	margin-top: 20px;
}

.contact__social {
	margin-top: 20px;
	@include display(flex);
	div {
		margin: 0 5px;
		width: 30px;
		height: 30px;
		background-color: $black;
		border-radius: 50%;
		&:first-child {
			margin-left: 0;
		}
	}
}

.contact-form__right {
	padding: 0 0 0 30px;
	@include flex(0 0 60%);
	h4 {
		margin-bottom: 0;
	}
}