.signup-form {
	background-color: $copper;
}

.signup-form .outer-container .main-content {
	margin-top: 0;
	margin-bottom: 0;
	@include display(flex);
	@include align-items(flex-end);
	@include justify-content(space-between);
	padding: 15px 0;
	p {
		letter-spacing: 2px;
		line-height: modular-scale(0);
		margin: 0;
		text-transform: uppercase;
		font-weight: bold;
	}
	#mce-EMAIL {
		border: 0;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid $black;
		text-align: center;
		background-color: transparent;
		&::placeholder { 
			color: $black;
		}
	}
	#mc-embedded-subscribe {
		background-color: $black;
		border-radius: 0;
		font-family: $p-font;
		margin: 0;
	}
}

.signup-form.signup--dark {
	background-color: #e0ddd5;
	#mce-EMAIL {
		background-color: transparent;
	}
}

#main-signup {
	#mc-embedded-subscribe-form {
		padding: 0;
		#mc_embed_signup_scroll {
			@include display(flex);
			@include justify-content(space-between);
		}
	}
	input.email {
		font-style: italic;
	}
	#mc-embedded-subscribe {
	}
}

// SEARCH
.nav__right #searchform {
	margin-right: 20px; 
	input#s {
		border: 0;
		border-bottom: 1px dashed $grey;
		background-color: transparent;
	}
	input#searchsubmit {
		// padding-top: 30px;
		width: 30px;
		height: 30px;
		background: url(../images/search.png);
		opacity: 0.3;
		background-size: cover;
		background-repeat: no-repeat;
		border: 0;
	}
}

