.nav {
    display: none;
    @include media($bp-large) {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    &.-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4000;
        padding: 0.5rem 0rem 0rem;
        background: white;
        width: 100%;
        &.is-active {
            display: none;
        }
        .nav_left {
            img {
                max-height: 45px;
                width: auto;
            }
        }
        @include media($bp-large) {
            display: none;
        }
    }
    &.is-active {
        display: block;
        position:fixed;
        z-index: 4500;
        background: white;
        width: 100%;
        height: 100vh;
        .nav_left {
            padding: 1rem;
        }
        .nav_right {
            ul {
                display: block;
            }
            li a span {
                // display: block;
                font-size: 30px;
            }
        }
    }
    span {
        font-size: 20px;
    }
    .nav_left {
        padding-left: 2rem;
        img {
            max-height: 50px;
            width: auto;
            margin: 0 1rem 0 0; 
        }
    }
    .nav_right {
        ul {
            @extend .-flex;
            @extend .-flex-ai-c;
            @extend .-lst-none;
            @extend .-p0;
            @extend .-m0;
        }
        li {
            @extend .-lowercase;
            &:not(:last-child) a {
                color: $black;
            }
            a {
                @extend .-d-b;
                padding: 1rem 2rem;
                &:hover {
                    background: darken(rgb(235, 246, 232), 5);
                    font-weight: 400;
                }
                
            }
        }
    }
    .current_page_item a {
        background: rgb(235, 246, 232);
    }
}

#nav-trigger {
    background: $green;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 5000;
    @include media($bp-large) {
        display: none;
    }
    .hamburger-inner {
        background: white;
        &:before, &:after {
            background: white;
        }
    }
}
