.main-header.inner-nav {
	position: relative;
	// 
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(flex-start);
}

.outer-container.nav {
	width: 100%;
	// 
	padding: 15px 0; 
}

.outer-container nav {
	width: 100%;
	// 
	@include display(flex);
	@include align-items(center);
	@include justify-content(space-between);
	#main-menu {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			@include display(flex);
			li {
				padding: 10px 30px;
				&:last-child {
					// padding-right: 0;
				}
			}
		}
	}
}

.nav__right,
.nav__left {
	@include display(flex);
	@include align-items(center);
}

.nav__left {
	// background-color: $white;
	padding-left: 20px;
	@include media($bp-med) {
		padding: 0;
		@include display(flex);
		@include align-items(center);
    }
	img {
		width: 70px;
		height: auto;
		// 
		margin-top: 0px;
		margin-right: 10px;
		@include media($bp-med) {
			margin-top: 15px;
			margin-right: 30px;
	    }
	}
}

.nav__right {
	background-color: $grey;
	#search-form-trigger {
		width: 30px;
		height: 30px;
		// 
		background: url(../images/search.png);
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0.8;
		// 
		border: 0;
		margin: 0 50px;
	}
}

.nav__right.desktop {
	display: none;
	@include media($bp-med) {
		@include display(flex);
		@include align-items(center);
    }
}

// WALKER MENU
#main-menu {
	ul#menu-main-menu {
		li {
			margin-top: 0;
			&:hover {
				background: $l-blue;
			}
		}
		li.current_page_item.page_item {
			background-color: $d-grey;
			&:hover {
				background: $l-blue;
			}
		}
	}
} 


/*

  JV jQuery Mobile Menu
  Author: Julius van der Vaart (http://juliusvaart.com)
  Version: 2

*/


// Structure
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.page {
  width: 100%;
  min-height: 100%;
  background: #fff;
  overflow: auto;
  z-index: 1;
  position: relative;
}


// Styles for menu
.mobile-nav {
  ul {
    margin: 0 0 25px;
    padding: 0;
    li {
      list-style: none;
    }
  }
}


// Styles for hamburger
.hamburger {
  position: fixed;
  top: 0;
  float: right;
  margin: 10px;
  padding: 13px 10px 13px;
  background: $white;
  cursor: pointer;
  z-index: 999;
  display: block;
  	@include media($bp-med) {
  		display: none;
      }
  .hamburger-inner {
    position: relative;
    height: 21px;
    width: 30px;
    display: block;
    margin: 0;
    padding: 0;
  }
  .bar {
    width: 30px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 0;
    &.bar2,
    &.bar3 {
      top: 9px;
    }
    &.bar4 {
      top: 18px;
    }
  }
  &.open {
    .bar1,
    .bar4 {
      display: none;
    }
    .bar2,
    .bar3 {
      height: 3px;
    }
  }
}


